@import 'theme.less';

.tags {
	margin: 0;
	padding: 4px;
}

.tag {
	display: inline;
	margin-right: 5px;
	background-color: @cl_tag;
	border-radius: 5px;
	padding: 6px 10px;
	color: @cl_text__light;
	text-decoration: none;

	&:visited {
		color: @cl_text__light;
	}
}