@import '../../css/theme.less';

.container {
  display: flex;
  padding: 1rem 1.8rem;
  align-items: center;

  .photo {
    align-self: flex-start;
    height: 4em;
    width: 4em;
    border-radius: 50%;
  }

  .info {
    margin: 0 0.6rem 0 2rem;
  }
}