@import '../../css/theme.less';

.meta {
  font-size: 0.9rem;
  font-weight: bold;
  color: @cl_post-meta;
  margin-bottom: 1rem;
}

.title {
  font-size: 2.5rem;
}

.text {
  border-bottom: 1px dotted @cl_post_separator;
  padding-bottom: 1.39rem;
  margin-bottom: 1.39rem;

  div[data-language] ~ h2 {
    margin-top: 2rem;
  }
}